POSTGRES_DB=test
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_STORAGE=/path/to/postgres
PGADMIN_DEFAULT_EMAIL=levkin_dmitrii@mail.ru
PGADMIN_DEFAULT_PASSWORD=123456