NODE_ENV=development
PORT=4000
EXPIRES_TOKEN_IN=60
JWT_SECRET='DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.'
DATABASE_URL="postgresql://admin:123456@localhost:5432/test?schema=public"
