POSTGRES_DB=database_name
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=lDTE2701!

NODE_ENV=development
PORT=3001
EXPIRES_ACCESS_TOKEN_IN='60s'
EXPIRES_REFRESH_TOKEN_IN='6d'
JWT_ACCESS_SECRET='DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.'
JWT_REFRESH_SECRET='DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.'
